{{ partial "header.html" . }}

{{ partial "navbar.html" . }}
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="">
                <div class="header-404">
                    <!-- <img src="/eternity.png" alt=""> -->
                </div>
                <div class="body-404">
                    <p class="subtitle-404">You've come to the wrong place...</p>
                    <p class="title-404">404</p>
                    <a href="{{ .Site.BaseURL }}">Return to homepage</a>
                </div>
            </div>
        </div>
    </section>
{{ partial "footer.html" . }}
